module.exports = (req, res, next) => {
	if (req.header('${GET_REQ_HEADER_KEY}') != "${GET_REQ_HEADER_VALUE}" || req.method != "GET" && req.header('${MODIFY_REQ_HEADER_KEY}') != "${MODIFY_REQ_HEADER_VALUE}" ) {
		res.header('X-Unauthorized', 'Allyship Is A Verb, Not A Noun');
		return res.status(401).send({ error: 'Unauthorized' });
	} else
		next();
	}
